{% extends "base.html" %}
{% load static %}

{% block title %}Cadastro{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'cadastro/cadastro.css' %}">
{% endblock %}

{% block content %}
<h1 class="text-center">Criar conta</h1>

<div class="col-12 justify-content-center text-center d-flex">
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="mb-3">
            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
            {{ form.username }}
            {{ form.username.errors }}
        </div>

        <div class="mb-3">
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>

        <div class="mb-3">
            <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>

        <div class="mb-3">
            <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>

        <button class="btn btn-success">Cadastrar</button>
    </form>
</div>
{% endblock %}