*{
    font-family: 'Poppins', sans-serif ;
}
header{
    background-color: #2f7d32;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: #fafafa;
}
header .titulo{
    width: 150px;
    height: auto;
}
.pagina{
    color: #fafafa;
}
body{
    background-color:  #fff4d7 !important;
}
.formularo form input, select,textarea{
    background-color: #fff4d7 !important;
    margin: 10px;
    border: #256B2E solid 3px;
    border-radius: 15px;
    font-weight: 500;
    color: #256B2E;
}
.formularo form input, select:hover{
    background-color: #fff4d7 !important;
    margin: 10px;
    border: #256B2E solid 3px;
    border-radius: 15px;
}
.conflogin {
    background-color: #fff4d7 !important;
    margin: 10px;
    border: #256B2E solid 3px;
    border-radius: 15px;
    font-weight: 500;
    color: #256B2E;
}
.modal-content{
    background-color: #fff4d7;
    border: #256B2E dotted 3px;
    border-radius: 15px;
    color: #256B2E;
}
.imagem{
    border-radius: 10px;
    border: #256B2E solid 6px;
}
.info{
    color: #256B2E;
    border: #256B2E dotted 3px;
    justify-content: center;
    border-radius: 15px;
}
.desc{
    border: #256B2E solid 3px;
    box-shadow: 0 5px 14px #2f7d3229;
    border-radius: 15px;
    width: 90%;
}
hr{
    color: #2f7d32;
    height: 2px;
}
.titulo{
    border-bottom: #256B2E solid 3px;
    width: 80%;
}
.preco{
    position: absolute;
    top: 20px;
    right: 0;
    border: #256B2E solid 3px;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #fff4d7;
}
