*{
    font-family: 'Poppins', sans-serif ;
}
header{
    background-color: #2f7d32;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: #fafafa;
}
header .titulo{
    width: 150px;
    height: auto;
}
.pagina{
    color: #fafafa;
}
body{
    background-color:  #fff4d7 !important;
}
.formularo form input, select,textarea{
    background-color: #fff4d7 !important;
    margin: 10px;
    border: #2f7d32 solid 3px;
    border-radius: 15px;
    font-weight: 500;
    color: #2f7d32;
}
.formularo form input, select:hover{
    background-color: #fff4d7 !important;
    margin: 10px;
    border: #2f7d32 solid 3px;
    border-radius: 15px;
}
.conflogin {
    background-color: #fff4d7 !important;
    margin: 10px;
    border: #2f7d32 solid 3px;
    border-radius: 15px;
    font-weight: 500;
    color: #2f7d32;
}
.modal-content{
    background-color: #fff4d7;
    border: #2f7d32 dotted 3px;
    border-radius: 15px;
    color: #2f7d32;
}