{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro do Nature Market</title>

    <!-- Link do CSS (note os as chaves corretos) -->
    <link rel="stylesheet" href="{% static 'login/style.css' %}">

    <!-- Fonte -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <h2>Nature Market</h2>
    <h2>Cadastro do site</h2>
</body>
</html>