{% extends "base.html" %}
{% load static %}

{% block title %} {{user.get_full_name}} no Nature Market {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'perfil/perfil.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="aba-perfil col-12 col-md-8 col-lg-6">
            <div class="col-12 d-flex align-items-start gap-3">
                {% if perfil.fotodeperfil %}
                <div>
                    <img src="{{ perfil.fotodeperfil.url }}" alt=""  class="fotodeperfil" style="width: 160px; height: auto;">
                </div>
                {% else %}
                    <img src="" alt="">
                {% endif %}
                <div>
                <h1 class="mb-4">{{ user.first_name }} {{ user.last_name }}</h1>
                <p>{{ user.username }}</p>
                </div>
            </div>
            <div class="mt-4">
                <p><strong>Contato para e-mail:</strong> {{ user.email }}</p>
                <p>{{ perfil.bio }}</p>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center my-4">
            <a href="{% url 'perfil:editar_perfil' user.username %}" class="btn btn-primary mx-2">Editar Perfil</a>
        </div>
        {% if produtos_do_usuario.exists %}
        <div class="col-12">
            <h2 class="vitrinelbl">Vitrine 🍎</h2>
            <div class="catalogo-x d-flex flex-nowrap overflow-x-auto gap-3 py-2">
                {% for produto in produtos_do_usuario %}
                    <a href="/produto/detalhes/{{ produto.id }}/"
                       class="text-decoration-none text-dark">
                        <div class="card produto-card my-3">
                            <div class="card-body text-center">
                                {% if produto.imagem_item %}
                                    <img src="{{ produto.imagem_item.url }}"
                                         class="card-img-top"
                                         style="height: 150px;">
                                {% else %}
                                    <div class="d-flex align-items-center justify-content-center card-img-top bg-light text-muted"
                                         style="height: 150px;">
                                        Sem imagem
                                    </div>
                                {% endif %}

                                <h3 class="card-title fs-5">
                                    {{ produto.nome }}
                                </h3>

                                <h4 class="card-subtitle fw-bolder">
                                    R$ {{ produto.preco }}
                                </h4>

                                <p class="card-text produto-desc overflow-y-hidden">
                                    {{ produto.descricao }}
                                </p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}