{% extends "base.html" %}
{% load static %}

{% block title %} {{user.first_name}} no Nature Market {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'perfil/perfil.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="aba-perfil col-12 col-md-8 col-lg-6">
            <div class="col-12 d-flex align-items-start gap-3">
                {% if perfil.fotodeperfil %}
                <div>
                    <img src="{{ perfil.fotodeperfil.url }}" alt=""  class="fotodeperfil" style="width: 160px; height: auto;">
                </div>
                {% else %}
                    <img src="" alt="">
                {% endif %}
                <div>
                <h1 class="mb-4">{{ user.first_name }} {{ user.last_name }}</h1>
                <p>{{ user.username }}</p>
                </div>
            </div>
            <div class="mt-4">
                <p><strong>Contato para e-smail:</strong> {{ user.email }}</p>
                <p>{{ perfil.bio }}</p>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center my-4">
            <a href="{% url 'perfil:editar_perfil' user.username %}" class="btn btn-primary mx-2">Editar Perfil</a>
            <a href="/" class="btn btn-secondary mx-2">Voltar à Página Inicial</a>
        </div>
    </div>
</div>
{% endblock %}