*{
    font-family: 'Poppins', sans-serif ;
}
header {
    background-color: #2f7d32;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
header .titulo{
    width: 150px;
    height: auto;
    font-weight: bold;
}
.pagina{
    color: white;
}
body{
    background-color:  #f3f6d5 !important;
}
h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.formularo form input, select,textarea{
    background-color: #f3f6d5 !important;
    margin: 10px;
    border: #2f7d32 solid 3px;
    border-radius: 15px;
    font-weight: 500;
    color: #2f7d32;
}
.formularo form input, select:hover{
    background-color: #f3f6d5 !important;
    margin: 10px;
    border: #2f7d32 solid 3px;
    border-radius: 15px;
}
.conflogin {
    background-color: #f3f6d5 !important;
    margin: 10px;
    border: #2f7d32 solid 3px;
    border-radius: 15px;
    font-weight: 500;
    color: #2f7d32;
}
.modal-content{
    background-color: #f3f6d5;
    border: #2f7d32 dotted 3px;
    border-radius: 15px;
    color: #2f7d32;
}