*{
    font-family: 'Poppins', sans-serif ;
}
.catalogo-x {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    overflow-x: auto;
    overflow-y: hidden;

    gap: 1rem;
}
.title{
    color: #2f7d32;
    margin-top: 20px;
    margin-bottom: 20px;
}
.produto-wrapper {
    display: flex;
    justify-content: center;
}
.produto-card {
    width: 12rem;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px !important
}
.produto-card .card-title {
    font-size: clamp(0.9rem, 2.5vw, 1.1rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.produto-card span {
    font-size: clamp(0.85rem, 2vw, 1rem);
    white-space: nowrap;
}
.produto-card .card-text {
    min-height: 4.5em;
    max-height: 4.5em;
    overflow: hidden;
}
header {
    background-color: #2f7d32;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
header .titulo{
    width: 150px;
    height: auto;
}
.carrin {
  color: #fafafa;
  margin: 10px;
  --bs-btn-hover-color: #81C784;
  border: none;
}
.search-nav input{
    background-color: #fff4d7 !important;
    margin: 10px;
    border-radius: 15px;
    align-items: stretch;
}
.search-nav input:focus{
    background-color: #fff4d7 !important;
    margin: 10px;
    border-radius: 15px;
    align-items: stretch;
    box-shadow: 0 0 0 3px #81C784;
}
body{
    background-color: #fff4d7;
}
.footerend{
    background-color: #2f7d32;
    color: #fafafa;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.menuinfmobile{
    background-color: #fff6dd !important;
    border: #2f7d32 solid 3px;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #2f7d32;
    border-bottom: none;
    box-sizing: border-box;
}
.menuinfmobile .carrin {
  color: #2f7d32;
  margin: 10px;
}
.lupa{
    width: 25px;
    height: auto;
    background: none;
}
.foryou, .lastdiscount{
    color: #2f7d32;
}
.card{
    border: #2f7d32 solid 3px;
    background: #fff4d7;
    border-radius: 15px;
    box-shadow: 0 5px 14px #2f7d3229;
}
.catalogo-x::-webkit-scrollbar {
    height: 8px;
}

.catalogo-x::-webkit-scrollbar-thumb {
    background-color: #2f7d32;
    border-radius: 10px;
}

.catalogo-x::-webkit-scrollbar-track {
    background: transparent;
}
.input-group .btn {
    border-left: 0;
    gap: 0px;
}
.dropdown-menu{
    background-color: #fff4d7;
    border: #2f7d32 solid 3px;
    border-radius: 15px;
    --bs-dropdown-link-active-bg: #81C784;
    --bs-dropdown-link-active-color: #000000;
    --bs-dropdown-link-hover-bg: #92c895;
}
.dropdown-toggle{
    color: #2f7d32;
    background-color: #fafafa;
    border: none;
    --bs-btn-hover-bg: #81C784;
    --bs-btn-hover-color: #2f7d32;
    --bs-btn-active-color: #fafafa;
}