*{
    font-family: 'Poppins', sans-serif ;
}
<<<<<<< HEAD
.catalogo-x {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    overflow-x: auto;
    overflow-y: hidden;

    gap: 1rem;
}

.produto-card {
    min-width: 10rem;
    flex-shrink: 0;

}
.produto-wrapper {
    display: flex;
    justify-content: center;
}
.produto-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.produto-card .card-title {
    font-size: clamp(0.9rem, 2.5vw, 1.1rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.produto-card span {
    font-size: clamp(0.85rem, 2vw, 1rem);
    white-space: nowrap;
}
.produto-card .card-text {
    min-height: 4.5em;
    max-height: 4.5em;
    overflow: hidden;
}
=======
>>>>>>> 8d2058ca414dee02c77770564705a0607d0ec55e
header {
    background-color: #2f7d32;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
header .titulo{
    width: 150px;
    height: auto;
}

a.dropdown-toggle button,
a.carrin {
  color: #ffffff;
  margin: 10px;
}
.search input, select,textarea{
    background-color: #f3f6d5 !important;
    margin: 10px;
    border: #2f7d32 solid 3px;
    border-radius: 15px;
    font-weight: 500;
    color: #2f7d32;
}
.search input, select:hover{
    background-color: #f3f6d5 !important;
    margin: 10px;
    border: #2f7d32 solid 3px;
    border-radius: 15px;
}
.search button{
    background: none;
    border: none;
    padding: 0;
}
body{
    background-color: #f3f6d5;
}
.footerend{
    background-color: #2f7d32;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.menuinfmobile{
    background-color: #f3f6d5 !important;
    border: #2f7d32 solid 3px;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #2f7d32;
    border-bottom: none;
    box-sizing: border-box;
}
.menuinfmobile .carrin {
  color: #2f7d32;
  margin: 10px;
}
.lupa{
    width: 30px;
    height: auto;
    object-fit: contain;
}
.foryou, .lastdiscount{
    color: #2f7d32;
}
.card{
    border: #2f7d32 solid 3px;
    background: #f3f6d5;
    border-radius: 15px;
}